body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(120.48deg, rgba(196, 243, 238, 0.4) 16.55%, rgba(73, 85, 187, 0.152) 71.76%, rgba(73, 139, 187, 0.16) 95.82%);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner-cm-main {
    position : absolute;
    left : 50%;
    top : 50%;
    right : 0;
    bottom : 0;
    margin-top : auto;
    margin-bottom : auto;
    margin-right : auto;
    margin-left : auto;
}
